<h1><%= @genre.name %></h1>

<ul>
<% @genre.songs.each do |song| %>
    <li>Song: <%= link_to(song.name, song_path(song.genre)) %>, 
    Artist: <%= link_to(song.artist.name, artist_path(song.artist)) %></li>
<% end %>
<br>
<h3><%= link_to("Back to Index", genres_path) %></h3>
</ul>